/* Ensure body takes full height of the viewport */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../chalkboard.jpg");
  background-size: cover;
  background-attachment: fixed;
}

main {
  flex: 1;
}

footer {
  background-color: rgba(69, 69, 69, .2);
}

/* Presenters */
.presenter {
  width: fit-content;
  margin: 1rem;
  
}

.presenter .card-body {
  padding-right: 6em;
}

.presenter > img {
  display: block;
  margin: 0 -1rem -5rem auto;
  height: 6rem;
  width: 6rem;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  border: 3px solid;
  object-fit: cover;
  position: relative;
  z-index: 1000;
}

img.presenter {
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  border: 7px gray inset;
  float: right;
  height: 12rem;
  width: 12rem;
  object-fit: cover;
}

/* Partners */
.partners {
  background-color: #cecdc7;
}

.partners img {
  margin: auto;
  max-width: 170px;
  max-height: 92px;
}
