{{ $customdir := default "static/partners/" .customdir }}

<section class="container">
  <div class="partners alert d-flex flex-wrap justify-content-center align-items-center">
    {{ $images := readDir $customdir }}
    {{ range $images }}
      {{ if (strings.HasSuffix .Name ".png") }}
        {{ $parts := split .Name "." }}
        {{ $basename := index $parts 0 }}
        {{ $cleanCustomdir := replace $customdir "static/" "" }}
        {{ $imageSource := printf "%s/%s" $cleanCustomdir .Name }}
        <div class="block m-4">
          <img src="{{ $imageSource | relURL }}" alt="{{ $basename }}" />
        </div>
      {{ end }}
    {{ else }}
      <div class="alert alert-danger" role="alert">
        No partners found
      </div>
    {{ end }}
  </div>
</section>
