{{ define "main" }}
  <section>
    <h1>{{ .Title }}</h1>
    <p>{{ .Content }}</p>
  </section>

  <section>
    <h2>Latest Talks</h2>
    <div class="accordion" id="accordionExample">
      {{ range $index, $page := first 5 (where .Site.Pages "Type" "talks") }}
        {{ if ne .Kind "section" }} <!-- Exclude section index pages -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{ $index }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ $index }}" aria-expanded="false" aria-controls="collapse-{{ $index }}">
                <span class="badge bg-info me-3">{{ $page.Date.Format "2 Jan 2006" }}</span><strong>{{ $page.Title }}</strong>
                {{ $presenter := .Site.GetPage "presenters" (printf "presenters/%s" $page.Params.presenter) }}
                {{ if $presenter }}
                  <span class="ms-3 text-warning-emphasis"><i class="fa-solid fa-person-chalkboard"></i> {{ $presenter.Params.name }}</span>
                {{ end }}
              </button>
            </h2>
            <div id="collapse-{{ $index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ $index }}" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                <a type="button" class="btn btn-light" href="{{ $page.Permalink }}"><i class="fa-solid fa-glasses"></i> Read more...</a>
                {{ if $page.Params.youtube }}
                  <a type="button" class="btn btn-danger" target="_blank" href="https://www.youtube.com/watch?v={{ $page.Params.youtube }}"><i class="fa-brands fa-youtube"></i> See video on YouTube</a>
                {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
    
  </section>
{{ end }}
