{{ define "main" }}
  <section>
    <h1 class="post-title">{{ .Params.title }}</h1>
  </section>
  
  <section>
    <h2>Past Talks</h2>
    <table class="table table-responsive align-middle">
      <thead></thead>
      <tbody>
        {{ range where .Pages "Date" "lt" now }}
          <tr>
            <td><span class="badge bg-info">{{ .Date.Format "2 Jan 2006" }}</span></td>
            <td>
              {{ $presenter := .Site.GetPage "presenters" (printf "presenters/%s" .Params.presenter) }}
              {{ if $presenter }}
                <a class="text-warning-emphasis" href="{{ $presenter.Permalink }}">{{ $presenter.Params.name }}</a>
                <br />
              {{ end }}
              {{ .Params.title }}
            </td>
            <td><a type="button" class="btn btn-light" href="{{ .Permalink }}"><i class="fa-solid fa-glasses"></i></a></td>
          </tr>
        {{ else }}
          <tr><td>No talks found.</td></tr>
        {{ end }}
      </tbody>
    </table>
  </section>
{{ end }}
