{{ define "main" }}
  <article>
    <header>
      <h1 class="post-title">{{ .Params.title }}</h1>
    </header>
    <div class="post-content">
      <p><strong>Date:</strong> {{ .Date.Format "2 January 2006" }}</p>
      <p>{{ .Params.description }}</p>

      <h3>Presenter</h3>
      {{ $presenter := .Site.GetPage "presenters" (printf "/%s/" .Params.presenter) }}
      {{ if $presenter }}
        <p><a href="{{ $presenter.Permalink }}">{{ $presenter.Params.name }}</a></p>
      {{ else }}
        <p>Presenter not found.</p>
      {{ end }}

      <h2>Abstract</h2>
      <div>{{ .Content }}</div>
    </div>
  </article>
{{ end }}
