{{ define "main" }}
  <section>
    <h1>{{ .Params.title }}</h1>
  </section>
  
  <section>
    <h3 class="mt-5">
      <span class="badge bg-info mb-3 me-3">{{ .Date.Format "2 January 2006" }}</span>
      <span class="badge bg-light mb-3"> at {{ .Params.time }}</span>
      {{ if .Params.collaboration }}
        <span class="badge bg-danger ms-3">{{ .Params.collaboration }}</span>
      {{ end }}
      <br />
      {{ $presenter := .Site.GetPage "presenters" (printf "presenters/%s" .Params.presenter) }}
      {{ if $presenter }}
        <i class="fa-solid fa-person-chalkboard ms-3 me-3"></i> Presented by
        <a href="{{ $presenter.Permalink }}">{{ $presenter.Params.name }}</a>
        <em>({{ $presenter.Params.affiliation }})</em>
      {{ end }}
    </h3>

    <hr/>
    <h3><i class="fa-solid fa-pen-nib"></i> Abstract</h3>
    <div>{{ .Content }}</div>
    <hr/>
    {{ if .Params.youtube }}
      <a type="button" class="btn btn-danger" target="_blank" href="https://www.youtube.com/watch?v={{ .Params.youtube }}"><i class="fa-brands fa-youtube"></i> See video on YouTube</a>
    {{ end }}
    {{ if index .Params "zoom-link" }}
      <a type="button" class="btn btn-success" target="_blank" href="{{ index .Params "zoom-link" }}"><i class="fa-solid fa-video"></i> Zoom link</a>
    {{ end }}
    <hr/>
  </section>
{{ end }}
